div#container {
    max-width: 60em;
    margin: auto;
    color: #fff;
}

body {
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
}

.small-text {
    font-size: 13px;
}

h1 {
    font-size: 2px;
    cursor: default;
}

.header {
    font-size: 27px;
}

.line {
    margin: auto;
    width: 150px;
    height: 1.5px;
    background-color: black;
    margin-top: 2px;
}

.appHline {
    margin: auto;
    width: 190px;
    height: 1.5px;
    background-color: black;
    margin-top: 2px;
}

.spacer {
    margin-top: 50px;
}

.spacer-2x {
    margin-top: 100px;
}

.brand {
    width: 300px;
    margin: auto;
}

.avatar {
    width: 200px;
    border-radius: 100%;
}



